html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	height: 100%;
	background-color: aquamarine;
}

body {
	min-width: 100%;
	min-height: 100%;
	background-color: bisque;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
